footer {
    background-color: var(--clr-bg-footer);
    color: var(--clr-txt-1);
    .container {
        position: relative;
        overflow: hidden;
        .logo-footer {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.footer-top {
    background-image: url("../img/images/footer-bg.jpg");
    background-size: cover;
    .footer-list {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        &__title {
            text-transform: uppercase;
            font-weight: 900;
            padding: var(--p-md) 0;
        }
        &__body {
            text-transform: capitalize;
            font-size: 0.85rem;
            opacity: 0.5;
            padding: var(--p-md) 0;
            li {
                margin-bottom: var(--m-sm);
            }
            a {
                color: var(--clr-active);
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}

.footer-bot {
    .container {
        padding: var(--p-md);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__social {
        color: var(--clr-active);
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        & img {
            height: 1.5rem;
        }
    }
}