.header-top {
    background-color: var(--clr-active);
    .container {
        display: flex;
        justify-content: flex-end;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    &__item {
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--clr-txt-1);
        font-weight: 900;
        letter-spacing: 0.02rem;
        padding: 0.2rem 0;
    }
}

.header-bot {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 80%;
            img {
                height: 90px;
            }
        }
        .main-nav {
            display: flex;
            gap: 1.5rem;
            &__item {
                padding: 2.5rem 0;
                &.active {
                    border-bottom: blue 4px solid;
                }
            }
            &__link {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 900;
                color: inherit;
                padding: 1rem 0;
                &:visited {
                    color: inherit;
                }
            }
        }
        .search-bar {
            border-bottom: var(--clr-active) 3px solid;
            &__text {
                border: none;
                background-image: none;
                background-color: transparent;
                box-shadow: none;
                padding-bottom: var(--p-xs);
                &::placeholder {
                    text-align: right;
                    font-weight: 400;
                    opacity: 1;
                    font-size: 0.9rem;
                }
            }
        }
    }
}